<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
			
<configuration>
	<!-- myBatis 활동 방식을 설정 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<!-- 타입 별칭 설정 부분 -->
	<typeAliases>

		<typeAlias alias="mVO" type="com.ys.nd.vo.MemberVO" />

	</typeAliases>
	
	<!-- sql 파일 읽어오는 부분 -->
	 <mappers>

	 	<mapper resource="com/ys/nd/sql/MemberSQL.xml" />

	 </mappers> 
	  
</configuration>